.main {
  position: relative;
  height: auto;
  width: 80%;
  left: 10%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  margin: 100px 10px;
}

.task {
  width: 100%;
  height: 200px;
  background: #fff;
  display: flex;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0px 10px 20px 0px #cdcdcdbe;
  cursor: pointer;

  align-items: center;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-direction: row;

  transition: transform 150ms ease-out, box-shadow 250ms ease-in-out;
}

.task:hover {
  box-shadow: 0px 10px 20px 0px #5c5c5cb3;
  transform: scale(1.03);
}

.thumb {
  width: 40%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.info {
  width: 55%;
  height: 100%;
}

.header {
  padding: 10px 0px 8px;
}

.description {
  font-size: 12px;
  height: 50%;
  padding: 5px 0px;
  margin-bottom: 14px;
  text-align: left;
}

.logos {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  flex-wrap: nowrap;
}

.logo {
  height: 100%;
  object-fit: contain;
  margin-right: 20px;
}